In [1]:
import numpy as np
import xarray as xr
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt

## Load Dataset

In [9]:
# gdf = gpd.read_file("../dataset/africa/shp/grid-sea-africa-zoned.shp")
gdf = gpd.read_file("../dataset/australia/shp/grid-sea-australia-zoned.shp")
gdf.head()

,id,left,top,right,bottom,row_index,col_index,MINX,MINY,MAXX,MAXY,CNTX,CNTY,AREA,PERIM,HEIGHT,WIDTH,ZONE_ID,geometry
0,1.0,110.97449,-12.151667,111.27449,-12.451667,0.0,0.0,112.97449,-38.436792,142.46291,-14.151667,127.7187,-26.29423,716.129966,107.54709,24.285125,29.48842,1,"POLYGON ((111.27449 -12.15167, 111.27449 -12.4..."
1,2.0,110.97449,-12.451667,111.27449,-12.751667,1.0,0.0,112.97449,-38.436792,142.46291,-14.151667,127.7187,-26.29423,716.129966,107.54709,24.285125,29.48842,2,"POLYGON ((111.27449 -12.45167, 111.27449 -12.7..."
2,3.0,110.97449,-12.751667,111.27449,-13.051667,2.0,0.0,112.97449,-38.436792,142.46291,-14.151667,127.7187,-26.29423,716.129966,107.54709,24.285125,29.48842,3,"POLYGON ((111.27449 -12.75167, 111.27449 -13.0..."
3,4.0,110.97449,-13.051667,111.27449,-13.351667,3.0,0.0,112.97449,-38.436792,142.46291,-14.151667,127.7187,-26.29423,716.129966,107.54709,24.285125,29.48842,4,"POLYGON ((111.27449 -13.05167, 111.27449 -13.3..."
4,5.0,110.97449,-13.351667,111.27449,-13.651667,4.0,0.0,112.97449,-38.436792,142.46291,-14.151667,127.7187,-26.29423,716.129966,107.54709,24.285125,29.48842,5,"POLYGON ((111.27449 -13.35167, 111.27449 -13.6..."

In [10]:
gdf_sel = gdf[["ZONE_ID", "AREA", "PERIM", "geometry"]]
gdf_sel.head()

,ZONE_ID,AREA,PERIM,geometry
0,1,716.129966,107.54709,"POLYGON ((111.27449 -12.15167, 111.27449 -12.4..."
1,2,716.129966,107.54709,"POLYGON ((111.27449 -12.45167, 111.27449 -12.7..."
2,3,716.129966,107.54709,"POLYGON ((111.27449 -12.75167, 111.27449 -13.0..."
3,4,716.129966,107.54709,"POLYGON ((111.27449 -13.05167, 111.27449 -13.3..."
4,5,716.129966,107.54709,"POLYGON ((111.27449 -13.35167, 111.27449 -13.6..."

In [11]:
gdf_sel.to_file("australia.json", driver="GeoJSON")