In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../dataset/occurences.csv", parse_dates=["ts"])
df.head()

   occurrenceID         ts   latitude   longitude                 species
0        409742 2023-11-30 -25.363597   46.837436  Megaptera novaeangliae
1        403039 2023-11-21 -21.220602   55.205602  Megaptera novaeangliae
2        405925 2023-11-19 -33.476485  115.064949  Megaptera novaeangliae
3        403038 2023-11-14 -21.235409   55.226194  Megaptera novaeangliae
4        403037 2023-11-13 -21.269454   55.201475  Megaptera novaeangliae

In [5]:
df["ts"].unique()

<DatetimeArray>
['2023-11-30 00:00:00', '2023-11-21 00:00:00', '2023-11-19 00:00:00',
 '2023-11-14 00:00:00', '2023-11-13 00:00:00', '2023-11-08 00:00:00',
 '2023-11-07 00:00:00', '2023-11-06 00:00:00', '2023-11-05 00:00:00',
 '2023-10-31 00:00:00',
 ...
 '1990-08-17 00:00:00', '1990-08-12 00:00:00', '1990-08-10 00:00:00',
 '1990-08-09 00:00:00', '1990-08-08 00:00:00', '1990-08-07 00:00:00',
 '1990-08-05 00:00:00', '1990-07-09 00:00:00', '1989-07-09 00:00:00',
 '1988-07-09 00:00:00']
Length: 2367, dtype: datetime64[ns]

In [6]:
df["ts_year_month"] = df["ts"].dt.to_period("M")
df

,occurrenceID,ts,latitude,longitude,species,ts_year_month
0,409742,2023-11-30,-25.363597,46.837436,Megaptera novaeangliae,2023-11
1,403039,2023-11-21,-21.220602,55.205602,Megaptera novaeangliae,2023-11
2,405925,2023-11-19,-33.476485,115.064949,Megaptera novaeangliae,2023-11
3,403038,2023-11-14,-21.235409,55.226194,Megaptera novaeangliae,2023-11
4,403037,2023-11-13,-21.269454,55.201475,Megaptera novaeangliae,2023-11
...,...,...,...,...,...,...
10497,374407,1989-07-09,-28.130205,32.570694,Megaptera novaeangliae,1989-07
10498,374406,1989-07-09,-28.130205,32.570694,Megaptera novaeangliae,1989-07
10499,374403,1988-07-09,-28.130117,32.572418,Megaptera novaeangliae,1988-07
10500,374402,1988-07-09,-28.130117,32.572418,Megaptera novaeangliae,1988-07
10501,374404,1988-07-09,-28.130117,32.572418,Megaptera novaeangliae,1988-07

In [7]:
df["ts_year_month"].unique()

<PeriodArray>
['2023-11', '2023-10', '2023-09', '2023-08', '2023-07', '2023-06', '2023-05',
 '2022-12', '2022-11', '2022-10',
 ...
 '1991-10', '1991-09', '1991-08', '1991-07', '1990-10', '1990-09', '1990-08',
 '1990-07', '1989-07', '1988-07']
Length: 210, dtype: period[M]