In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../dataset/occurences.csv", parse_dates=["ts"])
df.head()

   occurrenceID         ts   latitude   longitude                 species
0        409742 2023-11-30 -25.363597   46.837436  Megaptera novaeangliae
1        403039 2023-11-21 -21.220602   55.205602  Megaptera novaeangliae
2        405925 2023-11-19 -33.476485  115.064949  Megaptera novaeangliae
3        403038 2023-11-14 -21.235409   55.226194  Megaptera novaeangliae
4        403037 2023-11-13 -21.269454   55.201475  Megaptera novaeangliae

In [8]:
df["ts"].dt.to_period("D").unique()

<PeriodArray>
['2023-11-30', '2023-11-21', '2023-11-19', '2023-11-14', '2023-11-13',
 '2023-11-08', '2023-11-07', '2023-11-06', '2023-11-05', '2023-10-31',
 ...
 '1990-08-17', '1990-08-12', '1990-08-10', '1990-08-09', '1990-08-08',
 '1990-08-07', '1990-08-05', '1990-07-09', '1989-07-09', '1988-07-09']
Length: 2367, dtype: period[D]

In [6]:
df["ts"].dt.to_period("M").unique()

<PeriodArray>
['2023-11', '2023-10', '2023-09', '2023-08', '2023-07', '2023-06', '2023-05',
 '2022-12', '2022-11', '2022-10',
 ...
 '1991-10', '1991-09', '1991-08', '1991-07', '1990-10', '1990-09', '1990-08',
 '1990-07', '1989-07', '1988-07']
Length: 210, dtype: period[M]